@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
a {
  text-decoration: none;
  border-radius: 5px;
  background: linear-gradient(to right, #E1811F 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 2px solid white;
}
a button {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.2s ease;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
a button a {
  color: white;
}
a button:active {
  transform: scale(0.8);
}

a:hover {
  background-position: left bottom;
  color: white;
  border: none;
}
a:hover button {
  color: white;
}

a:active {
  transform: scale(0.8);
}

footer {
  background: #000;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  color: white;
  gap: 40px;
}

.content-right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}

iframe {
  width: 100%;
}

@media (max-width: 1024px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  footer .content-right {
    width: 100%;
  }
}
@media (max-width: 600px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  footer .content-right {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3E4148;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background: #3E4148;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
}

.logo img {
  width: 80px;
}

ul.center {
  list-style-type: none;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  color: white;
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: none;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background-color: #ccc;
  color: white;
}

ul li:hover ul.dropdown {
  transition: 0.5s ease;
  display: block;
}

@media (max-width: 1024px) {
  nav {
    display: flex;
    gap: 10px;
  }
  nav ul li a {
    padding: 10px;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  nav {
    display: flex;
    gap: 10px;
  }
  nav ul li a {
    padding: 10px;
    font-size: 15px;
  }
}
.vdo {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.vdo video {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.form form {
  background: rgba(0, 0, 0, 0.7);
  width: 60%;
  border-radius: 15px;
  padding: 10px;
}
.form h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form .full-name, .form .email, .form .phone, .form .feedback {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form .submit {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.form input {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
.form input:invalid {
  animation: invalid 0.3s 2;
  border: 2px solid #e70707;
}
@keyframes invalid {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}
.form .full-name input, .form .email input, .form .phone input {
  height: 7vh;
  border-radius: 6px;
}
.form .feedback input {
  height: 10vh;
  border-radius: 6px;
}
.form button {
  background: orange;
  color: white;
  height: 5vh;
  width: 100px;
  border-radius: 10px;
  border: none;
}

nav {
  z-index: 11;
}

main {
  background-image: url(../../Image/Gymnastic/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
  height: 80vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
}

.type {
  display: flex;
  gap: 10px;
  padding-left: 33px;
}

.personal, .partner {
  gap: 12px;
}

.dates {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.date, .time {
  display: flex;
  flex-direction: column;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

input {
  height: 4vh;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.date input {
  width: 200px;
}

.time input {
  width: 150px;
}

video {
  position: absolute;
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

form {
  z-index: 1;
}

footer {
  z-index: 111;
}