@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
a {
  text-decoration: none;
  border-radius: 5px;
  background: linear-gradient(to right, #E1811F 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 2px solid white;
}
a button {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.2s ease;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
a button a {
  color: white;
}
a button:active {
  transform: scale(0.8);
}

a:hover {
  background-position: left bottom;
  color: white;
  border: none;
}
a:hover button {
  color: white;
}

a:active {
  transform: scale(0.8);
}

footer {
  background: #000;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}
@media screen and (max-width: 1024px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    padding: 30px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    padding: 30px;
  }
}

.content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  color: white;
  gap: 40px;
}

.content-right {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
@media screen and (max-width: 1024px) {
  .content-right {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .content-right {
    width: 100%;
  }
}
.content-right .right-title {
  color: #fff;
  align-self: center;
}
.content-right .social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-right .social-media .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}

.map-container {
  padding: 60px;
}
@media screen and (max-width: 1024px) {
  .map-container {
    padding: 30px;
  }
}
@media screen and (max-width: 600px) {
  .map-container {
    padding: 30px;
  }
}
.map-container iframe {
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #959697;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#959697, #E1811F, #fff);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background: #959697;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: sticky;
  top: 0;
}
@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    gap: 10px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    display: flex;
    gap: 10px;
    font-size: 10px;
    padding: 0;
  }
}

.logo img {
  width: 80px;
}
@media screen and (max-width: 600px) {
  .logo img {
    width: 50px;
  }
}

ul.center {
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  ul.center {
    display: none;
  }
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  color: rgb(16, 14, 14);
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: none;
}
@media screen and (max-width: 1024px) {
  ul li a {
    padding: 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  ul li a {
    padding-right: 5px;
    font-size: 14px;
  }
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background-color: #959697;
  position: absolute;
  z-index: 999;
  display: none;
  border-radius: 0 0 10px 10px;
}

ul li a:hover {
  background-color: #ccc;
  color: white;
}

ul li:hover ul.dropdown {
  transition: 0.5s ease;
  display: block;
}

#menu-toggle {
  display: none;
}
@media screen and (max-width: 600px) {
  #menu-toggle {
    display: block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 9px 25px;
    border-radius: 5px;
  }
}

#menu-toggle::before {
  content: url(../../Image/Icon/Menu.png);
  color: white;
}

#menu-toggle:checked::before {
  content: url(../../Image/Icon/close.png);
  color: white;
}

@media screen and (max-width: 600px) {
  #menu-toggle:checked ~ ul.center {
    align-self: center;
    width: 100%;
    background-color: #959697;
    display: block;
    position: absolute;
    top: 54px;
    right: 1px;
    transition: 0.5 ease;
  }
  #menu-toggle:checked ~ ul.center li {
    display: block;
    margin-right: 15px;
  }
}

.vdo {
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.vdo video {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .vdo video {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  .vdo video {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .form {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .form {
    width: 100%;
    height: 100%;
  }
}
.form form {
  background: rgba(0, 0, 0, 0.7);
  width: 90%;
  border-radius: 15px;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  .form form {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .form form {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .form form .tittle h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .form form .tittle h1 {
    font-size: 20px;
  }
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-name,
.email,
.phone,
.feedback, .password,
.forgot-pw, .log, .social,
.log-in {
  display: flex;
  flex-direction: column;
}

.submit {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

input {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input:invalid {
  animation: invalid 0.3s 2;
  border: 5px solid #e70707;
}
input:invalid input:focus {
  outline: none;
}
@keyframes invalid {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}

.full-name input,
.email input,
.phone input,
.password input,
.log-in input {
  padding: 10px;
  border-radius: 6px;
}

.feedback input {
  padding: 25px;
  border-radius: 6px;
}

button {
  background: orange;
  color: white;
  height: 5vh;
  width: 100px;
  border-radius: 10px;
  border: none;
}

.dates {
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .footer {
    z-index: 1;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    z-index: 1;
  }
}

nav {
  z-index: 11;
}

main {
  background-image: url(../../Image/Gymnastic/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
  background-size: cover;
  height: 80vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
}

video {
  position: absolute;
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

form {
  z-index: 1;
}

footer {
  z-index: 111;
}