@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
a {
  text-decoration: none;
  border-radius: 5px;
  background: linear-gradient(to right, #E1811F 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 2px solid white;
}
a button {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.2s ease;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
a button a {
  color: white;
}
a button:active {
  transform: scale(0.8);
}

a:hover {
  background-position: left bottom;
  color: white;
  border: none;
}
a:hover button {
  color: white;
}

a:active {
  transform: scale(0.8);
}

footer {
  background: #000;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}
@media screen and (max-width: 1024px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    padding: 30px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
    padding: 30px;
  }
}

.content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  color: white;
  gap: 40px;
}

.content-right {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
@media screen and (max-width: 1024px) {
  .content-right {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .content-right {
    width: 100%;
  }
}
.content-right .right-title {
  color: #fff;
  align-self: center;
}
.content-right .social-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-right .social-media .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}

.map-container {
  height: 500px;
  padding: 10px 60px;
}
@media screen and (max-width: 1024px) {
  .map-container {
    height: 300px;
    padding: 10px 30px;
  }
}
@media screen and (max-width: 600px) {
  .map-container {
    height: 250px;
    padding: 10px 30px;
  }
}
.map-container iframe {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #5b7699;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#5b7699, #E1811F, #fff);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: sticky;
  top: 0;
}
@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    gap: 10px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  nav {
    display: flex;
    gap: 10px;
    font-size: 10px;
    padding: 0;
  }
}

.logo img {
  width: 80px;
}
@media screen and (max-width: 600px) {
  .logo img {
    width: 50px;
  }
}

ul.center {
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  ul.center {
    display: none;
  }
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  color: rgb(16, 14, 14);
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: none;
}
@media screen and (max-width: 1024px) {
  ul li a {
    padding: 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  ul li a {
    padding-right: 5px;
    font-size: 14px;
  }
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  display: none;
  border-radius: 0 0 10px 10px;
}

ul li a:hover {
  background-color: #fff;
  color: white;
}

ul li:hover ul.dropdown {
  transition: 0.5s ease;
  display: block;
}

#menu-toggle {
  display: none;
}
@media screen and (max-width: 600px) {
  #menu-toggle {
    display: block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 9px 25px;
    border-radius: 5px;
  }
}

#menu-toggle::before {
  content: url(../../Image/Icon/Menu.png);
  color: white;
}

#menu-toggle:checked::before {
  content: url(../../Image/Icon/close.png);
  color: white;
}

@media screen and (max-width: 600px) {
  #menu-toggle:checked ~ ul.center {
    align-self: center;
    width: 100%;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 54px;
    right: 1px;
    transition: 0.5 ease;
  }
  #menu-toggle:checked ~ ul.center li {
    display: block;
    margin-right: 15px;
  }
}

header {
  height: 70vh;
  max-height: 700px;
  background-image: url(../../Image/Gymnastic/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  header {
    height: 65vh;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 50vh;
  }
}

.head-text {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  max-width: 700px;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head-text .text1 {
  width: 80%;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 600px) {
  .head-text .text1 h1 {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  align-self: flex-end;
}
a button {
  padding: 10px;
}

.card {
  max-width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000 0 0 5px #000;
}
.card .box, .card .box1, .card .box2, .card .box3, .card .box4,
.card .box5, .card .box6, .card .box7, .card .box8 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50%;
}
.card .description {
  height: 50%;
}
.card .g-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-content: center;
}
.card a {
  text-decoration: none;
  background: linear-gradient(to right, #E1811F 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 2px solid #000;
  border-radius: 5px;
}
.card a button {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  transition: all 0.2s ease;
  border: none;
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
.card a button a {
  color: #fff;
}
.card a button:active {
  transform: scale(0.8);
}
.card a:hover {
  background-position: left bottom;
  color: #fff;
  border: 2px solid #fff;
}
.card a:hover button {
  color: #fff;
}
.card a:active {
  transform: scale(0.8);
}

#heart {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 9px 25px;
  border-radius: 5px;
}

#heart::before {
  content: url(../../Image/Icon/heart01.png);
  color: white;
}

#heart:checked::before {
  content: url(../../Image/Icon/heart.png);
  color: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url(../../Image/Gymnastic/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
  justify-content: center;
}

.some-text {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
  padding: 60px;
}
@media screen and (max-width: 1024px) {
  .some-text {
    padding: 30px;
  }
}
.some-text .first__text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .some-text .first__text {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .some-text .first__text {
    display: flex;
    flex-direction: column;
  }
}
.some-text .first__text .question {
  width: 50%;
  max-width: 643px;
}
@media screen and (max-width: 1024px) {
  .some-text .first__text .question {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .some-text .first__text .question {
    width: 100%;
  }
}
.some-text .first__text .question h1 {
  font-size: 60px;
}
@media screen and (max-width: 1024px) {
  .some-text .first__text .question h1 {
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .some-text .first__text .question h1 {
    font-size: 30px;
    text-align: center;
  }
}
.some-text .first__text .__text {
  width: 50%;
  max-width: 643px;
  padding: 10px;
}
@media screen and (max-width: 1024px) {
  .some-text .first__text .__text {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .some-text .first__text .__text {
    width: 100%;
  }
}
.some-text .first__text .__text p {
  font-size: 20px;
  text-align: justify;
}
.some-text .second__text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.some-text .second__text .second__text1 {
  width: 50%;
  max-width: 643px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.some-text .second__text .second__text1 p {
  font-size: 20px;
}

.gym-content {
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .gym-content {
    display: flex;
    padding: 30px;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .gym-content {
    display: flex;
    padding: 0;
    margin: 30px;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
}

.card {
  background-color: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .card {
    width: 49%;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.card .box {
  background-image: url(../../Image/Gymnastic/Cycling.jpg);
}
.card .box1 {
  background-image: url(../../Image/Gymnastic/Cable\ Chest\ Press..jpg);
}
.card .box2 {
  background-image: url(../../Image/Gymnastic/john-arano-h4i9G-de7Po-unsplash.jpg);
}
.card .box3 {
  background-image: url(../../Image/Gymnastic/Bar\ Press.jpg);
}
.card .box4 {
  background-image: url(../../Image/Gymnastic/Gym02.jpg);
}
.card .box5 {
  background-image: url(../../Image/Gymnastic/yoga.jpg);
}
.card .box6 {
  background-image: url(../../Image/Gymnastic/Dumbbell\ Chest\ Press..jpg);
}
.card .box7 {
  background-image: url(../../Image/Gymnastic/Dumbbell\ rows.webp);
}
.card .box8 {
  background-image: url(../../Image/Gymnastic/Iron\ strong\ fitness.webp);
}
.card .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}