@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
a {
  text-decoration: none;
  border-radius: 5px;
  background: linear-gradient(to right, #E1811F 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 2px solid white;
}
a button {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.2s ease;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
a button a {
  color: white;
}
a button:active {
  transform: scale(0.8);
}

a:hover {
  background-position: left bottom;
  color: white;
  border: none;
}
a:hover button {
  color: white;
}

a:active {
  transform: scale(0.8);
}

footer {
  background: #000;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  color: white;
  gap: 40px;
}

.content-right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}

iframe {
  width: 100%;
}

@media (max-width: 1024px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  footer .content-right {
    width: 100%;
  }
}
@media (max-width: 600px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  footer .content-right {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3E4148;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background: #3E4148;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
}

.logo img {
  width: 80px;
}

ul.center {
  list-style-type: none;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  color: white;
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: none;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background-color: #ccc;
  color: white;
}

ul li:hover ul.dropdown {
  transition: 0.5s ease;
  display: block;
}

@media (max-width: 1024px) {
  nav {
    display: flex;
    gap: 10px;
  }
  nav ul li a {
    padding: 10px;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  nav {
    display: flex;
    gap: 10px;
  }
  nav ul li a {
    padding-right: 5px;
    font-size: 14px;
  }
}
.card {
  max-width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.card .box, .card .box1, .card .box2, .card .box3, .card .box4,
.card .box5, .card .box6, .card .box7, .card .box8 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50%;
}
.card .description {
  height: 50%;
}
.card .g-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-content: center;
}
.card a {
  text-decoration: none;
  background: linear-gradient(to right, #E1811F 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: 2px solid black;
  border-radius: 5px;
}
.card a button {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.2s ease;
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  align-items: center;
}
.card a button a {
  color: white;
}
.card a button:active {
  transform: scale(0.8);
}
.card a:hover {
  background-position: left bottom;
  color: white;
  border: 2px solid white;
}
.card a:hover button {
  color: white;
}
.card a:active {
  transform: scale(0.8);
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 9px 25px;
  border-radius: 5px;
}

input::before {
  content: url(../../Image/Icon/heart01.png);
  color: white;
}

input:checked::before {
  content: url(../../Image/Icon/heart.png);
  color: white;
}

header {
  height: 70vh;
  max-height: 700px;
  background-image: url(../../Image/Gymnastic/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

.head-text {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  max-width: 700px;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.head-text .text1 {
  width: 80%;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  align-self: flex-end;
}
a button {
  padding: 10px;
}

header {
  background-image: url("https://idme-marketplace.s3.amazonaws.com/3lbkb1gop83ofb3112kt7z9xvw81");
  justify-content: center;
}

.cover h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.cover img {
  height: 70vh;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.discription {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
  padding: 60px;
}
.discription .first__text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.discription .first__text .question {
  width: 50%;
  max-width: 643px;
}
.discription .first__text .question h1 {
  font-size: 60px;
}
.discription .first__text .__text {
  width: 50%;
  max-width: 643px;
  padding: 10px;
}
.discription .first__text .__text p {
  font-size: 20px;
  text-align: justify;
}
.discription .second__text {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.discription .second__text .second__text1 {
  width: 50%;
  max-width: 643px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.discription .second__text .second__text1 p {
  font-size: 20px;
}

.sports {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  padding: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
}
.card .box {
  background-image: url(../../Image/Sports/Rothanak.jpg);
}
.card .box1 {
  background-image: url(../../Image/Sports/Badminton.jpg);
}
.card .box2 {
  background-image: url(../../Image/Sports/Tennis.jpg);
}
.card .box3 {
  background-image: url(../../Image/Sports/Basketball.jpg);
}
.card .box4 {
  background-image: url(../../Image/Gymnastic/Petaques.jpg);
}
.card .box5 {
  background-image: url(../../Image/Sports/Dancing.jpg);
}
.card .box6 {
  background-image: url(../../Image/Sports/Volley\ ball.webp);
}
.card .box7 {
  background-image: url(../../Image/Sports/Bowling.jpg);
}
.card .box8 {
  background-image: url(../../Image/Sports/Snooker.jpg);
}
.card .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

@media (max-width: 1024px) {
  .some-text {
    padding: 30px;
  }
  .some-text .first__text {
    display: flex;
    flex-direction: column;
  }
  .some-text .first__text .question,
  .some-text .first__text .__text {
    width: 100%;
  }
  .some-text .first__text .question h1,
  .some-text .first__text .__text h1 {
    font-size: 30px;
    text-align: center;
  }
  .gym-content {
    display: flex;
    padding: 30px;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .gym-content .card {
    width: 49%;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  footer .content-right {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .discription {
    padding: 30px;
  }
  .discription .first__text {
    display: flex;
    flex-direction: column;
  }
  .discription .first__text .question,
  .discription .first__text .__text {
    width: 100%;
  }
  .discription .first__text .question h1,
  .discription .first__text .__text h1 {
    font-size: 30px;
    text-align: center;
  }
  .sports {
    display: flex;
    padding: 0;
    margin: 30px;
    flex-direction: column;
    justify-content: none;
    align-items: center;
  }
  .sports .card {
    width: 100%;
  }
}
