@import"sass/main";
@import"sass/component/nav";
@import "sass/component/header";
*{
    @include universe;
}
body{
    background-color: $bg-color;
}
.service{
    max-height: 40vh;
    @include dis-flex;
    padding: 30px;
    gap: 10px;
}
.container{
    width: 100%;
    @include dis-flex;
    flex-direction: row;
    justify-content: space-between;
}
.image{
    img{
        max-width: 100px;
    }
}
.box{
    max-width: 200px;
    @include dis-flex;    
}
