input {
    appearance: none;
    padding: 9px 25px;
    border-radius: 5px;
}
input::before {
    content: url(../../Image/Icon/heart01.png);
    color: white;
}
input:checked::before {
    content: url(../../Image/Icon/heart.png);
    color: white;
}