input {
    appearance: none;
    padding: 9px 25px;
    background-color: cadetblue;
    border-radius: 5px;
}
input::after {
    content: "Favorite";
    color: white;
}
input:checked::before {
    content: "Added to Favorite";
    color: white;
}