@import "../component/mixin";
@import "../responsive/responsive";
footer{
    background: #000;
    height: 250px;
    @include dis-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    @include responsive(tablet){
        display: flex;
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        padding: 30px;
    }
    @include responsive(phone){
        display: flex;
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        padding: 30px;
    }
}
.content-left{
    @include dis-flex;
    align-items: start;
    justify-content: space-between;
    color: white;
    gap: 40px;
}
.content-right{
    width: 40%;
    height: 50%;
    @include dis-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    @include responsive(tablet){
        width: 100%;
    }
    @include responsive(phone){
        width: 100%;
    }
    .right-title{
        color: $second-color;
        align-self: center;
    }
    .social-media{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .item{
            @include dis-flex;
            gap: 5px;
        }
    }
}
.list{
    @include dis-flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}
.map-container{
    padding: 60px;
    @include responsive(tablet){
        padding: 30px;
    }
    @include responsive(phone){
        padding: 30px;
    }
    iframe{
        width: 100%;
    }
}