header{
    height: 70vh;
    max-height: 700px;
    background-image: url(../../Image/Gymnastic/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}
.head-text{
    background-color: rgba(0,0,0,0.4);
    width: 50%;
    max-width: 700px;
    height: 100%;
    color: white;
    @include dis-flex
}
.head-text .text1{
    width: 80%;
    max-width: 600px;
    height: 100%;
    @include dis-flex;
    justify-content: space-around;
}
button{
    align-self: flex-end;
    padding: 10px;
    a{
        text-decoration: none;
    }
}