@import"../main";
@import"../component/nav";
@import"../component/video";
main{
    background-image: url(../../Image/Gymnastic/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    color: white;
    @include dis-flex;
    flex-direction: row;
}