@import"../main";
@import"../component/nav";
@import "../component/card";
@import "../component/favorite";
@import "../component/header";
header{
    background-image: url("https://idme-marketplace.s3.amazonaws.com/3lbkb1gop83ofb3112kt7z9xvw81");
    justify-content: center;
}
.cover {
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // font-size: 60px;
        color: white;
    }
    img {
        height: 70vh;
        max-height: 700px;
        object-fit: cover;
        
    }
}

.discription {
    background-color: #fff;
    @include dis-flex;
    justify-content: space-between;
    min-height: 500px;
    padding: 60px;
    @include responsive(tablet){
        padding: 30px;
    }
    .first__text{
        width: 100%;
        @include dis-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        @include responsive(tablet){
            display: inline-flex;
            flex-direction: column;
        }
        @include responsive(phone){
            display: inline-flex;
            flex-direction: column;
        }
        .question{
            width: 50%;
            max-width: 643px;
            @include responsive(tablet){
                width: 100%;
            }
            @include responsive(phone){
                width: 100%;
            }
            h1{
                font-size: 60px;
                @include responsive(tablet){
                    font-size: 30px;
                    text-align: center;
                }
                @include responsive(phone){
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
        .__text{
            width: 50%;
            max-width: 643px;
            padding: 10px;
            @include responsive(tablet){
                width: 100%;
            }
            p{
                font-size: 20px;
                text-align: justify;
            }
        }

    }
    .second__text{
        width: 100%;
        @include dis-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .second__text1{
            width: 50%;
            max-width: 643px;
            @include dis-flex;
            gap: 20px;
            padding: 10px;
            p{
                font-size: 20px;
            }
        }
    }
}
.sports{
    @include dis-flex;
    flex-direction: row;
    padding: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    @include responsive(tablet){
        display: flex;
        padding: 30px;
        margin: 0;
        flex-wrap: wrap;
        align-items: center;
    }
    @include responsive(phone){
        display: flex;
        padding: 0;
        margin: 30px;
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }
}
.card{
    background-color: #fff;
    border-radius: 10px;
    @include responsive(tablet){
        width: 49%;
    }
    @include responsive(phone){
        width: 100%;
    }
    .box {
        background-image: url(../../Image/Sports/Rothanak.jpg);
    }
    .box1 {
        background-image: url(../../Image/Sports/Badminton.jpg);
    }
    .box2 {
        background-image: url(../../Image/Sports/Tennis.jpg);
    }
    .box3 {
        background-image: url(../../Image/Sports/Basketball.jpg);
    }
    .box4 {
        background-image: url(../../Image/Gymnastic/Petaques.jpg)
    }
    .box5 {
        background-image: url(../../Image/Sports/Dancing.jpg)
    }
    .box6 {
        background-image: url(../../Image/Sports/Volley\ ball.webp)
    }
    .box7 {
        background-image: url(../../Image/Sports/Bowling.jpg)
    }
    .box8 {
        background-image: url(../../Image/Sports/Snooker.jpg)
    }
    .description {
        @include dis-flex;
        padding: 0 10px;
    } 
}
