@import"../main";
@import"../component/nav";
@import "../component/card";
@import "../component/favorite";
@import "../component/header";
header{
    background-image: url("https://idme-marketplace.s3.amazonaws.com/3lbkb1gop83ofb3112kt7z9xvw81");
    justify-content: center;
}
.cover {
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: white;
    }
}

.discription {
    background-color: #fff;
    padding: 60px;
    min-height: 500px;
    @include dis-flex;
    justify-content: space-between;
    .disc-top {
        @include dis-flex;
        flex-direction: row;
        .quest{
            width: 50%;
            max-width: 643px;
            h1 {
                text-align: center;
                font-size: 60px;
            }
        }
        .text{
            width: 50%;
            max-width: 643px;
            padding: 10px;
        }

        p {
            width: 550px;
            text-align: justify;
            font-size: 20px;
        }
    }
    .disc-bottom {
        width: 100%;
        @include dis-flex;
        flex-direction: row;
        justify-content: space-between;
        .disc-right,.disc-left{
            width: 50%;
            max-width: 643px;
        }
    }
}
.sports{
    @include dis-flex;
    flex-direction: row;
    padding: 60px;
    gap: 30px;
}
.card{
    background-color: #fff;
    border-radius: 10px;
    .box {
        background-image: url(../../Image/Sports/Snooker.jpg);
    }
    .description {
        @include dis-flex;
        padding: 0 10px;
    } 
}