@media (max-width: 600px){
  nav{
      font-size: 10px;
  }
  .logo img{
      width: 50px;
  }
  .service .container{
      display: flex;
      flex-wrap: wrap;
      .image{
        img{
          width: 50px;
        }
      }
  }
  .mission{
      flex-wrap: wrap;
  }
  .vision-container,
  .mission-container{
      width: 100%;
  }
  footer{
      display: flex;
      flex-direction: column;
  }
  
}